<h2>Le sirop</h2>

<p>Le plus facile à apprendre, c'est le sirop.
  Enfin, avec mes règles simplifiées parce que les règles originales, elles sont velues.
  Bon, le seul truc, c'est que normalement, ça se joue à trois...
  M'enfin, c'est bon, on va se démerder.
  Le principe, c'est de faire des valeurs.
  Donc là, mettons, on est trois, il y a trois valeurs à distribuer.
  C'est hyper facile.
  On va dire, sirop de huit, sirop de quatorze et sirop de vingt-et-un.
  Non mais vous occupez pas des sirops tout de suite.
  Ce qu'il faut comprendre d'abord, c'est les valeurs.
  Si vous lancez une valeur en début de tour, mettons un sirop
  de huit, pour commencer petit, les autres ont le choix entre laisser filer la mise ou relancer un sirop de quatorze.
  Dans le sens des valeurs. C'est pour ça, il faut bien comprendre le système des valeurs ; après, ça va tout seul.
  Bon alors mettons que j'ouvre avec un sirop de huit.
</p>
<p>
  Si c'est vous qu'avez siroté au tour d'avant, ça tourne dans votre sens. Alors soit vous laisser filer, vous dites "file-sirop", soit vous vous sentez de relancer et vous annoncez un sirop de quatorze.
  Vous, comme on a commencé les annonces, vous avez pas le droit de
  laisser filer. Vous pouvez soit relancer un sirop de vingt-et-un,
  soit vous abandonnez le tour et vous dites "couche-sirop".
  Ou "sirop Jeannot", ça dépend des régions.
  Et après, soit on fait la partie soit je fais un "contre-sirop", boum !
  Et à partir de là, ?sirop de pomme? sur vingt-et-un donc on fait
  la partie en quatre tours jusqu'à qu'il y en ait un qui sirote.
</p>
<p>
  C'est pour ça, moi, j'ai fait des règles simplifiées.
  À la gagne, il y a que trois possibilités :
  Soit vous faites votre sirop de huit, vous dites "beau sirop" et on recompte, soit vous faites votre sirop de quatorze, vous dites "beau sirop, sirop gagnant" et on vous rajoute la moitié,
  soit vous faites votre sirop de vingt-et-un et vous dites "beau sirop, mi-sirop, siroté, gagne-sirop, sirop-grelot, passe-montagne, sirop au bon goût".
  Sinon, moi, j'aime bien les règles originales mais c'est trop
  compliqué. Les gens, ils ont envie de faire une petite partie pour se détendre ; s'il faut passer
  trois heures à apprendre les règles...
  Non, non mais ça se joue pas avec des dés !
  Ça se joue avec des cartes !
  Ça fait rien, on va essayer avec des dés.
  De toute façon, ce qui compte, c'est les valeurs !
</p>
