<!--The content below is only a placeholder and can be replaced.-->
  <h1>La grelottine</h1>

<p>
  C'est un jeu du Pays de Galles. Ça se joue avec des lentilles ou des haricots.
</p>
<p>
  Le premier qui annonce la mise il dit, mettons, lance de 16 ou lance de 32 ou une quadruplée, comme on appelle, c'est une lance de 64. Parce qu'on avance toujours de 16 en 16 sauf pour les demi coups. Là celui qui est à sa gauche, soit il augmente au moins de 4, soit il passe et il dit "passe grelot". Soit il parie qu'il va monter au moins de 6 ou de 7 et il peut tenter la Grelottine.
  A ce compte là, il joue pas, il attend le tour d'après. Et si le total des mises des deux autres suffit pas à combler l'écart il gagne sa Grelottine. Et on recommence le tour avec des mises de 17 en 17.
  Mettons, le suivant il annonce une quadruplée, donc là elle vaut 68. Il peut contrer ou il se lève et il tape sur ses haricots en criant "grelot, ça picote" ! Et il tente la relance jusqu'au tour d'après...
</p>

<a routerLink="/users">Utilisateurs</a>
<router-outlet></router-outlet>
